.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addmovie {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 15px;
    border-style: solid;
    background-color: rgb(82, 82, 102);
    border-color: rgb(136, 157, 250);
}

.addmovie__title {
    margin-top: 1rem;
    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.addmovie__input {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 1rem;
    width: 250px;
    height: 30px;
}

.addmovie__button {
    text-align: center;
    margin: 1rem;
    width: 250px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(0, 110, 255);
}

@media (min-width: 768px) {
    .addmovie {
        margin: 8px;
        max-width: 330px;
        height: auto;
    }
    .addmovie__input {
        width: 260px;
    }
}